@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

.wrapper {
    font-family: 'EB Garamond', serif;
    margin: 100px auto;
    text-align: center;
    max-width: 500px;
    font-size: 30px;
    color: gold;
}

ul {

    list-style-type: none;
}

.color {
    color: red;
}