@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.wrapper p {
    font-family:'Lobster', cursive;
    margin: 100px auto;
    text-align: center;
    max-width: 700px;
    font-size: 30px;
    color: purple;
}